.DS_Store
*~
#*#
*.o
*.hi
_*/
site
bootstrap
*.pdf
sitemap.txt
presentations/*.html
.cabal-sandbox
cabal.sandbox.config
dist
css/combined.css
.stack-work
posts/*.draft
.obsidian/
presentations/2021-02-25-hamline-guest-lecture.md
