<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>$title$ - kms</title>
    <meta name="author" content="$if(author)$$author$$else$Kyle Marek-Spartz$endif$">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@kmarekspartz" />
    <meta name="twitter:title" content="$title$" />
    <meta name="twitter:description" content="$description$" />
    <meta name="twitter:image" content="http://kyle.marek-spartz.org/images/kyle.jpg" />
    <meta name="p:domain_verify" content="6fcb293f30bcbbe0198a7aefe1462336"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="$description$">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Inconsolata">
    <style>$partial("css/combined.css")$</style>
</head>
<body>
$if(fourohfour)$
<header><h1><i>$title$</i></h1></header>
<article>$body$</article>
$else$
<header>
  <h1>
    <img class="logo" src="/images/kyle.jpg" alt="Kyle in Central Park at the Conservatory Water">
    <i>kms</i>
  </h1>
  <nav>
    <a href="/">Now</a>
    <a href="/blog.html">Blog</a>
    <a href="/photography.html">Photography</a>
    <a href="/about.html">About</a>
    <a href="/README.html">Colophon</a>
    <a rel="me" href="https://rls.social/@kms">Mastodon</a>
  </nav>
</header>
<article>$if(title)$<h2>$title$</h2>$endif$$if(prebody)$$prebody$$endif$
$body$
</article>
<footer>
  <hr>
  <p>©<script>document.write(new Date().getFullYear().toString())</script>
    <a href="/about.html">
      $if(author)$$author$$else$Kyle Marek-Spartz$endif$
    </a>
  </p>
</footer>
$if(mathjax)$<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
  extensions: ["tex2jax.js"],
  jax: ["input/TeX", "output/HTML-CSS"],
  tex2jax: {
  inlineMath: [ ["\\(","\\)"] ],
  displayMath: [ ["\\[","\\]"] ],
  processEscapes: true
  },
  "HTML-CSS": { availableFonts: ["TeX"] }
  });
</script>
<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
$endif$$endif$
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46454853-1', 'marek-spartz.org');
  ga('require', 'displayfeatures');
  ga('send', 'pageview');
</script>
</body>
</html>
